<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013423394487-oc2vk6qhbq9ju2uf331uk4o712u0osl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013423394487-oc2vk6qhbq9ju2uf331uk4o712u0osl2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013423394487-fsdqnnf5h9fig1ngvob4vd8h7b19qt4c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlEYnTZxP1CDbrwJpL0etHGC47AwYbGQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1013423394487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parking</string>
	<key>PROJECT_ID</key>
	<string>quickpark-d8b8d</string>
	<key>STORAGE_BUCKET</key>
	<string>quickpark-d8b8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013423394487:ios:c85fb3afac2bfeb3c58732</string>
	<key>DATABASE_URL</key>
	<string>https://quickpark-d8b8d-default-rtdb.firebaseio.com</string>
</dict>
</plist>