<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454762576857-hpoaj3kt8pi3mqui4h8vijbd7q38qk2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454762576857-hpoaj3kt8pi3mqui4h8vijbd7q38qk2l</string>
	<key>API_KEY</key>
	<string>AIzaSyAvfxEsL5d1WtlMAHE98A-l76au4pHjfDo</string>
	<key>GCM_SENDER_ID</key>
	<string>454762576857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parking</string>
	<key>PROJECT_ID</key>
	<string>quickpark-f8bf4</string>
	<key>STORAGE_BUCKET</key>
	<string>quickpark-f8bf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454762576857:ios:d5e8ba7e393e72432237c8</string>
</dict>
</plist>